<div class="container">
  <div class="signUpCard">
    <form #signupForm="ngForm">
      <h2 class="heading">Sign Up</h2>

      <div style="height: 70px;" class="field">
        <label style="text-align: left; height: 20px;" class="label">Email</label>
        <div class="control has-icons-left">
          <input email type="email" name="email" placeholder="Enter your email address" [(ngModel)]="email"
            class="input formInput" maxlength="60" required />
            <span style="padding-top: 12px;" class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
        </div>
      </div>


      <div style="height: 70px;" class="field">
        <label style="text-align: left; height: 20px;" class="label">Password</label>
        <div class="control has-icons-left">
          <input type="password" name="password" placeholder="Choose a password" [(ngModel)]="password"
            class="input formInput" required />
            <span style="padding-top: 12px;" class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
        </div>
      </div>

      <div style="height: 70px;" class="field">
        <label style="text-align: left; height: 20px;" class="label">Display Name</label>
        <div class="control has-icons-left">
          <input name="displayName" placeholder="Enter a display name" [(ngModel)]="displayName" class="input formInput"
            maxlength="12" required />
            <span style="padding-top: 12px;" class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            </div>
      </div>

          <button style="height: 60px;" [disabled]="!signupForm.form.valid" type="submit" (click)="signUp()" class="btn" id="btn-signUp">
            Sign Up
          </button>
    </form>
  </div>
</div>
