<div class="container">
  <div class="loginCard">
    <h2 class="heading">Log In</h2>
    <form #loginForm="ngForm" (ngSubmit)="login()">

      <div class="errorMsg" *ngIf="errorMsg">
        <i class="fas fa-exclamation-circle"></i> No user with this records
      </div>

      <div style="height: 70px;" class="field">
      <label style="text-align: left; height: 20px;" class="label">Email</label>
      <div  class="control has-icons-left">
      <input
      [(ngModel)]="email"
        type="email"
        name="email"
        required class="input formInput"/>
        <span style="padding-top: 12px;" class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>

        </div>
      </div>

      <div style="height: 70px;" class="field">
        <label style="text-align: left; height: 20px;" class="label">Password</label>
        <div class="control has-icons-left">
      <input type="password"
        [(ngModel)]="password"
        name="password"
        class="input" required />
        <span style="padding-top: 12px;" class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        </div>
        </div>



        <button style="height: 60px;" [disabled]="!loginForm.form.valid"
        type="submit"
        (click)="login()"
        class="btn"
        id="btn-login">
              Log In
      </button>

    </form>
  </div>
</div>
